<section>
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best offer <br />
            <span class="text-primary">for your business</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque accusantium odio,
            soluta, corrupti aliquam quibusdam tempora at cupiditate quis eum maiores libero veritatis?
            Dicta facilis sint aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                <div class="form-outline mb-2">
                  <label class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" />
                  <div *ngIf="submitted && registroForm.controls['email'].invalid" class="text-danger">
                    Email válido es requerido
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label">Nombre</label>
                  <input type="text" formControlName="nombre" class="form-control" />
                  <div *ngIf="submitted && registroForm.controls['nombre'].invalid" class="text-danger">
                    El nombre es obligatorio (mín. 3 letras)
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label">Apellidos</label>
                  <input type="text" formControlName="apellidos" class="form-control" />
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label">Nick</label>
                  <input type="text" formControlName="nickName" class="form-control" />
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label">Dirección</label>
                  <input type="text" formControlName="direccion" class="form-control" />
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label">¿Que quieres ser?</label>
                  <select class="form-select" formControlName="rol">
                    <option value="CLIENTE">Cliente</option>
                    <option value="CREADOR">Vendedor</option>
                  </select>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label">Contraseña</label>
                  <input type="password" formControlName="contraseña" class="form-control" />
                  <div *ngIf="submitted && registroForm.controls['contraseña'].invalid" class="text-danger">
                    Mínimo 6 caracteres
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label">Repetir contraseña</label>
                  <input type="password" formControlName="repetirContraseña" class="form-control" />
                  <div *ngIf="submitted && registroForm.controls['repetirContraseña'].errors?.['mismatch']">
                    Las contraseñas no coinciden
                  </div>
                </div>

                <div class="form-check d-flex justify-content-start mb-3">
                  <input class="form-check-input me-2" type="checkbox" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">Recuérdame</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
